#btnEntra{
    margin-top: 10px;
    width: 100%;
}

#imgAvatar{
    width: 40%;
    border-radius: 50%;
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

#estoque{
    text-align: right;;
}

#preco{
    text-align: right;;
}
#containerSistema{
    margin-top: 10px;
}
